/* *{
    box-sizing: bor;
} */

body{
    font-family: "Segoe UI", Roboto, sans-serif;
    margin: 0;
    background: #f4f7fb;
    color: #253238;
}

header{
    background: linear-gradient(120deg, #04AA6D, #058457);
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

