body{
    background-color: wheat;
    background-image: url(/images/Guitarra-Fender-Player-Stratocaster-01.webp);
    image-rendering: pixelated;
    image-orientation: from-image;
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.cabecalho{
    display: flex;
    justify-content: center;
    border:1px solid black;
    gap: 20px;
}
