body {
    /* Centraliza o corpo da página na tela */
    max-width: 960px;
    margin: 0 auto; 
    
    background-color: seashell;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
                      url('/images/carros-esportivos.jpeg');
    
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed; /* Troquei scroll por fixed para um efeito mais elegante */
    background-size: cover; /* Faz a imagem cobrir o espaço disponível proporcionalmente */
    
    font-family: Arial, sans-serif; /* Sempre defina uma fonte base */
    color: #333;
}