body{
    background-color: beige;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7rem;
    margin: 2px;
}

header{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
    border: 2px;
    border-radius: 16px;
}