body{
    background-color: yellow;
}

.carro1 img{
    width: 300px;
    height: 200px;
    border: 3px black solid;
}

a{
    color: green;
    background-color: transparent;
    text-decoration: none;
    font-size: 32px;  
}

table{
    border: 3px black solid;
    width: 100%;
    padding: 5px;
}

tr, td{
    border: 1px rgb(100, 95, 95) solid;
    padding: 5px;
}

th{
    border: 1px black solid;
    width: 70%;
    padding: 5px;
    font-weight: bold;
}



