body{
    background-color: yellow;
}

.carro1 img{
    width: 300px;
    height: 200px;
    border: 3px black solid;
}

a{
    color: green;
    background-color: transparent;
    text-decoration: none;
    font-size: 32px;  
}